<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Medlemsanmälan</title>
</head>
<body>
<h3>Ny Medlem</h3>
<form th:action="@{/new}" method="post" th:object="${member}">
    <p th:text="${membermessage}"></p>
    Namn:<br/>  <input type="text" th:field="*{name}" /> </br>
    Postnummer:<br/>  <input type="text" th:field="*{postCode}" /><br/>
    Telefon:<br/>  <input type="text" th:field="*{phone}" /><br/>
    Emailadress:<br/>  <input type="text" th:field="*{email}" /><br/>
    Personnummer:<br/>  <input type="text" th:field="*{personalNumber}" /><br/>
    Vikt:<br/> <input type="text" th:field="*{weight}" /><br/>
    <input type="submit" value="Anmäl"/>
</form>
</body>
</html>